<nav class="navbar card">
    <div class="nav-group">
        <button class="nav-btn is-active"
            hx-get="/pages/home.html"
            hx-target="#content"
            hx-swap="innerHTML"
            hx-indicator="#loading">
            Home
        </button>

        <button class="nav-btn"
            hx-get="/pages/training.html"
            hx-target="#content"
            hx-swap="innerHTML"
            hx-indicator="#loading">
            Training
        </button>

        <button class="nav-btn"
            hx-get="/pages/morning-routine.html"
            hx-target="#content"
            hx-swap="innerHTML"
            hx-indicator="#loading">
            Morning Routine
        </button>

        <button class="nav-btn"
            hx-get="/pages/cv.html"
            hx-target="#content"
            hx-swap="innerHTML"
            hx-indicator="#loading">
            Curriculum Vitae
        </button>

        <button class="nav-btn"
            hx-get="/pages/contact.html"
            hx-target="#content"
            hx-swap="innerHTML"
            hx-indicator="#loading">
            Contact
        </button>
    </div>
</nav>